# Student Name: Wallace Esteves
# Student ID : 2020326

# Task 1

In [1]:
import pandas as pd

# Load the dataset
file_path = 'Data/Marge_Bedfordshire.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()

,Unnamed: 0,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,0,f3b4eb5ff671847a8de4838f2deb31ad16825558ae1104...,2020-01,Bedfordshire Police,Bedfordshire Police,-0.678572,51.960550,On or near Park/Open Space,E01017669,Aylesbury Vale 006A,Criminal damage and arson,Status update unavailable,NaN
1,1,ea45d7028058f7611f0ea7885c5003b253c4adf54b1df2...,2020-01,Bedfordshire Police,Bedfordshire Police,-0.600189,51.873389,On or near Northall Road,E01017658,Aylesbury Vale 009D,Violence and sexual offences,Status update unavailable,NaN
2,2,4a9cf8bfd71238a0f5dfab36bc8d16e84afb7d1970879a...,2020-01,Bedfordshire Police,Bedfordshire Police,-0.600189,51.873389,On or near Northall Road,E01017658,Aylesbury Vale 009D,Violence and sexual offences,Status update unavailable,NaN
3,3,4e28320826593de789a97acea21d0658a0bae95fc6ebbb...,2020-01,Bedfordshire Police,Bedfordshire Police,-0.417743,52.237802,On or near Elm Tree Grove,E01017540,Bedford 001A,Criminal damage and arson,Investigation complete; no suspect identified,NaN
4,4,3456382b4426f30a4d1d8aae3f10b6b7614dbb566946f8...,2020-01,Bedfordshire Police,Bedfordshire Police,-0.411488,52.225940,On or near School Lane,E01017540,Bedford 001A,Other theft,Investigation complete; no suspect identified,NaN

# Task B: Identifying Variable Types and Missing Values

Explanation: We will categorize the variables into categorical, discrete, and continuous types based on their nature and the data they hold. We'll also check for missing values in each column.

In [2]:
# Identifying variable types and checking for missing values
variable_types = {
    "Categorical": [],
    "Discrete": [],
    "Continuous": []
}
missing_values = data.isnull().sum()

# Categorizing variables
for column in data.columns:
    if data[column].dtype == 'object':
        variable_types["Categorical"].append(column)
    elif data[column].dtype in ['int64', 'float64']:
        if data[column].nunique() < 10:
            variable_types["Discrete"].append(column)
        else:
            variable_types["Continuous"].append(column)

# Displaying the results
variable_types, missing_values

({'Categorical': ['Crime ID',
   'Month',
   'Reported by',
   'Falls within',
   'Location',
   'LSOA code',
   'LSOA name',
   'Crime type',
   'Last outcome category'],
  'Discrete': ['Context'],
  'Continuous': ['Unnamed: 0', 'Longitude', 'Latitude']},
 Unnamed: 0                    0
 Crime ID                  34876
 Month                         0
 Reported by                   0
 Falls within                  0
 Longitude                     0
 Latitude                      0
 Location                      0
 LSOA code                     0
 LSOA name                     0
 Crime type                    0
 Last outcome category     34876
 Context                  156767
 dtype: int64)

# Task C: Statistical Parameters Calculation
Explanation:
Now, we will calculate statistical parameters such as mean, median, minimum, maximum, and standard deviation for each of the numerical variables.

In [3]:
#Task C
# Calculating statistical parameters for continuous variables
statistical_params = data.describe().T[['mean', '50%', 'min', 'max', 'std']].rename(columns={'50%': 'median'})

# Displaying the results
statistical_params

                    mean        median        min            max           std
Unnamed: 0  78383.000000  78383.000000   0.000000  156766.000000  45254.879162
Longitude      -0.455201     -0.457553  -5.540364       1.731959      0.104470
Latitude       51.990858     51.917292  50.119077      55.234600      0.127505
Context              NaN           NaN        NaN            NaN           NaN